<% content_for(:title, 'スタッフ管理' ) %>

<body>
  <%= render 'layouts/header' %>
  <div class="flex">
    <!-- サイドバー -->
    <%= render 'layouts/employee_sidebar' %>

    <!-- メインコンテンツ -->
    <main class="w-full lg:flex-1 p-4 bg-slate-50 h-[calc(100vh-64px)]">
      <div class="flex justify-between items-center mb-4 lg:container lg:mx-auto">
        <h2 class="text-2xl text-gray-700">スタッフ表</h2>
        <%= render 'layouts/flash_messages' %>
        <%= link_to 'スタッフ追加', new_employee_path, class: "border py-1 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95" %>
      </div>
      <div class="overflow-y-auto max-h-[780px] sm:max-h-[900px] md:max-h-[1000px] lg:max-h-[600px] xl:max-h-[600px]">
        <%= turbo_frame_tag "employees" do %>
          <% if @employees.any? %>
            <%= render 'employees_table', employees: @employees %>
          <% else %>
            <div class="flex justify-center items-center">
              <p class="text-xl text-gray-500">スタッフを追加してください</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </main>
  </div>
</body>
