<body>
  <header class="bg-slate-100 border-b">
    <div class="flex justify-between container mx-auto py-2">
      <h1>
        <%= link_to root_path, class: 'flex' do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#334155">
            <path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/>
          </svg>
          <span class="flex items-center text-slate-700 text-xl  font-bold ml-1">Care Shift</span>
        <% end %>
      </h1>
      <%= render 'layouts/flash_messages' %>
      <ul class="flex items-center space-x-2">
        <li><%= link_to 'ログイン', login_path, class: 'border py-2 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95' %></li>
        <li><%= link_to '新規登録', new_user_path, class: 'border py-2 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95' %></li>
      </ul>
    </div>
  </header>
  <main class="bg-slate-100">
    <div class="relative">
      <!-- 画像 -->
      <img src="images/shift-app_image.jpg" alt="" class="h-screen w-screen object-cover">
      <!-- 画像の上に表示するテキストとボタン -->
      <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center bg-black bg-opacity-30">
        <p class="text-2xl font-bold mb-4">シフト作成を自動化</p>
        <p class="text-lg mb-6">介護施設に特化したシフト自動作成サービス <br> 「Care Sift」です</p>
        <%= link_to '今すぐ登録する', new_user_path, class: 'bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-3 px-5 rounded duration-300 transition active:scale-95 hover:underline' %>
      </div>
    </div>
    <section class="border-b border-sky-300 border-opacity-50 pb-20">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl text-center text-slate-700 my-12">機能一覧</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
          <!-- 画像 -->
          <img src="images/shift-creat.png" alt="" class="w-full h-auto rounded border-8 border-sky-400 border-opacity-30">
    
          <!-- テキスト部分 -->
          <div class="pt-2">
            <div class="flex items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#807fe2">
                <path d="M710.83-106.83v-120h-120V-250h120v-120H734v120h120v23.17H734v120h-23.17ZM228.42-213.67q-22.73 0-38.82-16.09-16.1-16.1-16.1-38.88V-695.7q0-22.78 16.1-38.87 16.09-16.1 39.07-16.1h86.16v-88h27.84v88h198.66v-88h24.5v88h85.5q22.98 0 39.07 16.1 16.1 16.09 16.1 38.93V-461q-6.17 1-11.58.83-5.42-.16-11.59-.83v-68.67H196.67v260.84q0 12 10 22t22 10h270.66q0 5.83.17 11.58t-1.17 11.58H228.42Zm-31.75-339.16h486.66V-695.5q0-12-10-22t-22-10H228.67q-12 0-22 10t-10 22v142.67Zm0 0V-727.5v174.67Z"/>
              </svg>
              <p class="text-blue-600 text-sm font-medium ml-2">効率よく、時間短縮</p>
            </div>
            <h3 class="text-3xl text-slate-700 mb-8">自動シフト作成</h3>
            <p class="text-gray-600 mb-8">
              スタッフを追加し、勤務希望を入力します。その後シフト作成ボタンを押すだけで1ヶ月分のシフトを自動で作成できます。夜勤の翌日は休み、最大5連勤までといった制約を設けてシフト割り当てを行っています。誰でも簡単に、直感的に操作できます。
            </p>
            <div class="flex items-center hover:underline">
              <%= link_to new_user_path, class: 'text-sky-400 text-sm flex items-center' do %>
                <span>登録はこちらから</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#38bdf8">
                  <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="border-b border-sky-300 border-opacity-50 py-20">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
          <!-- テキスト部分 -->
          <div class="pt-2">
            <div class="flex items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#807fe2">
                <path d="M228.43-133.67q-22.74 0-38.83-16.09-16.1-16.1-16.1-38.84v-507.14q0-22.74 16.1-38.83 16.09-16.1 39.07-16.1h86.16v-88h27.84v88h278.66v-88h24.5v88h85.5q22.98 0 39.07 16.1 16.1 16.09 16.1 39.07v211.33h-23.17v-45.5H196.67v340.84q0 12 10 22t22 10H476v23.16H228.43Zm-31.76-419.16h566.66V-695.5q0-12-10-22t-22-10H228.67q-12 0-22 10t-10 22v142.67Zm0 0V-727.5v174.67Zm374.5 419.16v-77.83l210.81-209.81q4.85-4.52 10.05-6.02 5.2-1.5 9.9-1.5 4.67 0 10.12 2 5.45 2 9.78 5.83l37 37.67q3.27 5.21 5.39 10.35 2.11 5.15 2.11 9.73t-2.21 9.7q-2.22 5.11-5.26 9.58L649-133.67h-77.83Zm268-230-37-38 37 38Zm-240 202h37.6L781.5-306l-18.81-19-17.8-20-145.72 145.33v38ZM762.5-325l-18-20 37 39-19-19Z"/>
              </svg>
              <p class="text-blue-600 text-sm font-medium ml-2">簡単に、微調整が可能</p>
            </div>
            <h3 class="text-3xl text-slate-700 mb-8">シフト編集</h3>
            <p class="text-gray-600 mb-8">
              自動で作成したシフトも微調整したい時があると思います。シフトの微調整も、シフト編集ボタンから簡単に編集できます。変更したいスタッフのシフトを選択し、勤務を選択して保存するだけでシフトの変更が可能です。
            </p>
            <div class="flex items-center hover:underline">
              <%= link_to new_user_path, class: 'text-sky-400 text-sm flex items-center' do %>
                <span>登録はこちらから</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#38bdf8">
                  <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                </svg>
              <% end %>
            </div>
          </div>
          <!-- 画像 -->
          <img src="images/shift-edit.png" alt="" class="w-full h-auto rounded border-8 border-sky-400 border-opacity-30">
        </div>
      </div>
    </section>
    <section class="border-b border-sky-300 border-opacity-50 py-20">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
          <!-- 画像 -->
          <img src="images/excel.png" alt="" class="w-full h-auto rounded border-8 border-sky-400 border-opacity-30">
    
          <!-- テキスト部分 -->
          <div class="pt-2">
            <div class="flex items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#807fe2">
                <path d="m480-360.5-111.5-112 13-10.5 90 90v-366H489v366l90-90 13 10.5-112 112ZM298.08-249q-21.02 0-35.05-14.18Q249-277.36 249-298.43v-41.07h17.5v41q0 12 10 22t22 10h363q12 0 22-10t10-22v-41H711v41.07q0 21.07-14.19 35.25Q682.61-249 661.6-249H298.08Z"/>
              </svg>
              <p class="text-blue-600 text-sm font-medium ml-2">Excelファイルをダウンロード</p>
            </div>
            <h3 class="text-3xl text-slate-700 mb-8">エクセル出力機能</h3>
            <p class="text-gray-600 mb-8">
              作成したシフトをエクセルファイルでダウンロードができます。「Excelに出力」ボタンを押すだけでダウンロードが始まります。ダウンロードしたファイルをエクセルで開いてシフトの編集、印刷を行うことができます。
            </p>
            <div class="flex items-center hover:underline">
              <%= link_to new_user_path, class: 'text-sky-400 text-sm flex items-center' do %>
                <span>登録はこちらから</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#38bdf8">
                  <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>
</body>