<% content_for(:title, 'シフト管理') %>
<body>
<%= render 'layouts/header' %>

<div class="flex">
  <!-- サイドバー -->
  <%= render 'layouts/shift_sidebar' %>
  <% if @employees.any? %>
  <main class="lg:flex-1 mx-auto sm:w-full lg:w-9/12 xl:w-9/12 h-[calc(100vh-64px)] bg-slate-50">
    <div class="flex justify-between p-4 ">
      <div class="flex space-x-1">
        <%= link_to shifts_path(year: @start_date.prev_month.year, month: @start_date.prev_month.month), class: "border py-1 rounded text-gray-500 hover:bg-sky-400 hover:text-white duration-300 transition active:scale-95" do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
          </svg>
        <% end %>
        <h2 class="flex items-center text-gray-500 text-xl"><%= @shift_calendar %></h2>
        <%= link_to shifts_path(year: @start_date.next_month.year, month: @start_date.next_month.month), class: "border py-1 rounded text-gray-500 hover:bg-sky-400 hover:text-white duration-300 transition active:scale-95" do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
          </svg>
        <% end %>
      </div>
      <%= render 'layouts/flash_messages' %>
      <% if @shifts.values.flatten.select { |shift| shift.date.year == @year.to_i && shift.date.month == @month.to_i }.any? %>
      <div class="flex space-x-2 items-center">
        <%= link_to 'Excelに出力', export_excel_path(year: @year, month: @month, format: :xlsx), class: "border flex items-center py-1 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95" %>
          <%= link_to edit_schedule_path(year: @year, month: @month), class: "transition active:scale-90" do %>
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#13b5ea">
              <path d="M186.67-120q-27 0-46.84-19.83Q120-159.67 120-186.67v-586.66q0-27 19.83-46.84Q159.67-840 186.67-840h389L509-773.33H186.67v586.66h586.66v-324.66L840-578v391.33q0 27-19.83 46.84Q800.33-120 773.33-120H186.67ZM480-480ZM360-360v-170l377-377q10-10 22.33-14.67 12.34-4.66 24.67-4.66 12.67 0 25.04 5 12.38 5 22.63 15l74 75q9.4 9.97 14.53 22.02 5.13 12.05 5.13 24.51 0 12.47-4.83 24.97-4.83 12.5-14.83 22.5L530-360H360Zm499-424.67-74.67-74.66L859-784.67Zm-432.33 358H502l246-246L710-710l-38.33-37.33-245 244.33v76.33ZM710-710l-38.33-37.33L710-710l38 37.33L710-710Z"/>
            </svg>
          <% end %>
          <%= link_to destroy_all_shifts_path(year: @year, month: @month), data: { turbo_method: :delete, turbo_confirm: 'シフトを削除しますか？' }, class: "transition active:scale-90" do %>
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#FF6969">
              <path d="M261-120q-24.75 0-42.37-17.63Q201-155.25 201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z"/>
            </svg>
          <% end %>
        </div>
        <% else %>
          <%= form_with url: new_shift_request_path, method: :get, local: true do |form| %>
          <%= form.hidden_field :year, value: @year %>
          <%= form.hidden_field :month, value: @month %>
          <%= form.submit '勤務希望を入力する', class: " border py-1 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95 cursor-pointer" %>
        <% end %>
      <% end %>
    </div>
  <div class="overflow-auto overflow-y-auto sm:w-11/12 md:w-11/12 lg:w-[calc(100%-40px)] xl:w-[calc(100%-34px)] sm:max-h-[900px] md:max-h-[1000px] lg:h-[calc(100vh-150px)] xl:h-[calc(100vh-144px)] 2xl:h-[calc(100vh-144px)] mx-4">
    <table class="table-fixed w-full border-separate border-spacing-0 bg-white">
      <thead>
        <tr>
          <th class="p-1 w-40 sticky left-0 top-0 z-20 bg-white text-gray-600 border">日付</th>
          <!-- 日付 -->
          <% @calendar.each do |c| %>
            <td class="border p-1 w-12 text-center sticky top-0 z-10 bg-white text-gray-600 font-semibold"><%= "#{c.month}/#{c.day}" %></td>
          <% end %>
          <td class="border p-1 w-12 bg-white text-gray-600 text-center sticky top-0 z-20">早番</td>
          <td class="border p-1 w-12 bg-white text-gray-600 text-center sticky top-0 z-20">日勤</td>
          <td class="border p-1 w-12 bg-white text-gray-600 text-center sticky top-0 z-20">遅番</td>
          <td class="border p-1 w-12 bg-white text-gray-600 text-center sticky top-0 z-20">夜勤</td>
          <td class="border p-1 w-12 bg-white text-gray-600 text-center sticky top-0 z-20">休み</td>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="p-1 w-40 sticky left-0 top-8 z-20 bg-white text-gray-600 border">曜日</th>
          <!-- 曜日 -->
          <% @calendar.each do |c| %>
            <% if c.wday == 0 %>
              <td class="border p-1 text-red-400 text-center sticky top-8 bg-white z-10 font-semibold">
                <%= @weeks[c.wday] %>
              </td>
            <% elsif c.wday == 6 %>
              <td class="border p-1 text-sky-400 text-center sticky top-8 bg-white z-10 font-semibold">
                <%= @weeks[c.wday] %>
              </td>
            <% else %>
              <td class="border text-gray-600 p-1 text-center sticky top-8 bg-white z-10 font-semibold">
                <%= @weeks[c.wday] %>
              </td>
            <% end %>
          <% end %>
          <!-- 記述なし -->
          <td class="border w-12 bg-white sticky top-8 z-20"></td>
          <td class="border w-12 bg-white sticky top-8 z-20"></td>
          <td class="border w-12 bg-white sticky top-8 z-20"></td>
          <td class="border w-12 bg-white sticky top-8 z-20"></td>
          <td class="border w-12 bg-white sticky top-8 z-20"></td>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="sticky left-0 z-10 bg-white border text-center text-gray-600 py-16">委員会 <br> 予定 <br> 行事</th>

          <!-- メモ -->
          <% @calendar.each do |c| %>
            <td class="border writing-mode-vertical text-gray-600 text-sm text-center"><%= @memos[c]&.content %></td>
          <% end %>

          <!-- 以下記述なし -->
          <td class="border"></td>
          <td class="border"></td>
          <td class="border"></td>
          <td class="border"></td>
          <td class="border"></td>
        </tr>
      </thead>
      <thead>
        <tr>
          <!-- 従業員名 -->
          <% @employees.each do |e| %>
            <% if e.employee_type == '正社員' %>
              <th class="sticky left-0 z-20 border bg-white p-2 text-center text-sky-400"><%= e.name %></th>
            <% elsif e.employee_type == 'パート' %>
              <th class="sticky left-0 z-20 border bg-white p-2 text-center text-green-500"><%= e.name %></th>
            <% else %>
              <th class="sticky left-0 z-20 border bg-white p-2 text-center text-gray-700"><%= e.name %></th>
            <% end %>
            <!-- シフト -->
            <% @calendar.each do |c| %>
              <td class="border p-2 text-center text-gray-700">
                <% if @shifts[e.id] %>
                  <% shift = @shifts[e.id].find { |s| s.date == c } %>
                  <% if shift %>
                  <!-- 勤務希望を取得 -->
                  <% desired_shift = @shift_requests.find { |sr| sr.employee_id == e.id && sr.date == c } %>
                  <!-- シフトタイプを表示 -->
                  <div class="flex items-center justify-center">
                    <% case shift.shift_type %>
                    <% when "早番" %>
                      H
                    <% when "日勤" %>
                      &nbsp; <!-- 空白にする -->
                    <% when "遅番" %>
                      O
                    <% when "夜勤", "夜勤明け" %>
                      Y
                    <% when "休み" %>
                      ⚫️
                    <% else %>
                      <%= shift.shift_type %>
                    <% end %>
                    <!-- 勤務希望とシフトが一致している場合に「キ」を表示 -->
                  <% if desired_shift && shift.shift_type == desired_shift.shift_type %>
                    <span class="text-xs text-red-500 font-bold p-1">キ</span>
                  <% end %>
                  </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <!-- シフトカウント -->
            <td class="border text-gray-700 text-center"><%= @shift_counts[e.id][:early] %></td>
            <td class="border text-gray-700 text-center"><%= @shift_counts[e.id][:day] %></td>
            <td class="border text-gray-700 text-center"><%= @shift_counts[e.id][:late] %></td>
            <td class="border text-gray-700 text-center"><%= @shift_counts[e.id][:night] %></td>
            <td class="border text-gray-700 text-center"><%= @shift_counts[e.id][:off] %></td>
          </tr>
        </thead>
        <% end %>
    </table>
  </div>
  </main>
  <% else %>
    <main class="flex-1 bg-slate-50">
      <div class="h-[calc(100vh-64px)]">
        <div class="flex justify-end p-4">
        <%= link_to new_employee_path, class: "border py-1 px-7 rounded font-bold text-sm text-gray-500 hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95 cursor-pointer" do %>
          スタッフ追加
        <% end %>
        </div>
        <div class="flex justify-center items-center">
          <p class="text-xl text-gray-500">スタッフを追加してください</p>
        </div>
      </div>
    </main>
  <% end %>
</div>
</body>