<body>
  <%= render 'layouts/before_login_header' %>
  <main class="flex-1 flex items-center justify-center h-[calc(100vh-64px)] bg-slate-50 p-6">
    <div class="max-w-lg w-full mx-auto bg-white p-6 rounded-lg shadow-md">
      <!-- ログインフォームの開始 -->
      <%= form_with url: login_path, local: true do |f| %>
        <!-- タイトルと戻るボタン -->
        <div class="flex justify-between items-center mb-6 pb-2 border-b">
          <h2 class="text-2xl text-gray-600">ログイン</h2>
          <%= link_to '新規登録はこちら', new_user_path, class: 'bg-white border text-sm text-gray-500 font-bold px-3 py-1 rounded hover:bg-sky-400 hover:border-sky-400 hover:text-white duration-300 transition active:scale-95' %>
        </div>

        <!-- メールアドレス入力欄 -->
        <div class="mb-4">
          <%= f.label :email, 'メールアドレス', class: 'block text-gray-600' %>
          <%= f.email_field :email, class: 'w-full text-gray-600 text-sm border rounded py-2 px-3 focus:outline-none focus:ring-1 focus:ring-sky-400' %>
        </div>

        <!-- パスワード入力欄 -->
        <div class="mb-4">
          <%= f.label :password, 'パスワード', class: 'block text-gray-600' %>
          <%= f.password_field :password, class: 'w-full text-gray-600 text-sm border rounded py-2 px-3 focus:outline-none focus:ring-1 focus:ring-sky-400' %>
        </div>

        <!-- 送信ボタン -->
        <div class="flex justify-center">
          <%= f.submit 'ログイン', class: 'bg-sky-400 w-full font-bold text-white py-2 mt-4 rounded hover:bg-sky-500 duration-300 transition active:scale-95' %>
        </div>
      <% end %>
      <!-- ログインフォームの終了 -->
    </div>
  </main>
</body>